export MAILTRAP_API_TOKEN="182721hwsg873816f69dd3643eef0d6c"
export EMAIL_SENDER="admin@demomailtrap.com"
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_DATABASE="sayakaya"
export DB_USERNAME="postgres"
export DB_PASSWORD="postgres123"
export DB_SSLMODE="disable"